.App {
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
}

.Navbar {
  padding: 0;
  height: 60px;
  width: 100vw;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.Navbar img {
  padding: 0px;
  margin-left: 20px;
  width: 50px;
}

.Navbar h3 {
  text-align: right;
  margin: 0;
  padding-right: 50px;
  font-size: 0.65rem;
  color: var(--black);
  text-transform: uppercase;
}

.Navbar p {
  text-align: right;
  padding-right: 50px;
  margin: 0 0px 0 0;
  color: var(--black);
  font-size: 0.7rem;
  font-weight: 700;
}

.footer {
  width: 100%;
  margin-top: 4cqmax;
  margin-bottom: 0;
  padding: 15px;
  height: 20px;
  background-color: var(--black);
  text-align: center;
  color: var(--white);
  font-size: 0.8rem;
}

.mainContent {
  margin-top: 70px;
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  text-align: left;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  text-align: left;
  flex-wrap: wrap;
}

.sidebar {
  padding: 30px;
  width: 50px;
  background-color: var(--primary-color);
  text-align: center;
}

.sidebar li {
  padding: 20px;
  list-style: none;
  color: var(--black);
  font-size: 0.8rem;
}

.rentalCard {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
  margin: 10px;
  background-color: var(--white);
  min-width: 400px;

  border-radius: 20px;
  transition: background-color 0.2s ease-in-out, box-shadow 0.1s ease-in-out,
    transform 0.5s ease-in-out;
  /* Initial box-shadow state */
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  /* Initial transform state */
  transform: translateY(0);
}

.rentalCard:hover {
  background: rgb(255, 223, 228);
  /* Desired box-shadow state on hover */
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  /* Move the box up on hover */
  transform: translateY(-4px);
}

.details-ctn {
  padding: 10px;
  width: 150px;
}

.img-ctn {
  width: 220px;
  height: 180px;
  background-size: cover;
  border-radius: 20px 0px 0px 20px;
}

.rentalCard h1 {
  font-size: 0.8rem;
  color: black;
  font-weight: 800;
}
.rentalCard h2 {
  font-size: 0.8rem;
  font-weight: 400;
  color: black;
}

.rentalCard p {
  margin-top: 10px;
  font-size: 0.6rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  color: black;
}

.price {
  font-size: 0.9rem;
  font-weight: 800;
}

.rentalCard img {
  width: 60%;
  margin-top: 0px;
}

.rentalCard button {
  float: right;
  font-size: 0.7rem;
  font-weight: 800px;
  border-radius: 25px;
}

.btn-delete {
  color: white;
  background-color: black;
}

.btn-edit {
  color: black;
  background-color: white;
  border: 1px solid black;
  margin-right: 5px;
}

.team-ctn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
}

.team-ctn img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.page {
  padding: 40px;
  width: 100%;
}

.about {
  margin: 50px;
}
.about h1 {
  font-size: 3rem;
}

.about h2 {
  margin-top: 40px;
  font-size: 2rem;
}

.team p{
  font-size: 0.8rem;
}

.footerLink {
  background-color: black;
  color: white;
}

.addRental {
  margin: 10px;
  padding: 20px;
  width: 400px;
  border-radius: 20px;
  border: 2px solid var(--black);
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  display: flex;
  flex-direction: row;
}

.addRental form {
  margin-left: 40px;
}

.addRental input {
  width: 60%;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  margin-left: 20px;
  font-size: 0.8rem;
  di
}

.addRental label {
  font-size: 0.8rem;
}

.dashboard {
  margin-left: 40px;
}

.addRental button {
  margin-top: 30px;
  border-radius: 20px;
  background-color: var(--black);
  color: var(--white);
  font-size: 0.8rem;
}


.rentalCardDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid white
  padding: 40px
}

.rentalCardDetails img {
  width: 50%;
}

.detailsDescription: { 
  width: 60%;
}

.top-ctn {
  display: flex;
  justify-content: space-between;
}

.top-ctn h1{
  margin-left: 20px;
}

